
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                 md-is-locked-open="$mdMedia('gt-sm')">
	<md-toolbar>
	<h1>Contacts</h1>
    </md-toolbar>
<div ng-controller="MainCtrl as vm">
    <md-content layout-padding>
    <form name="vm.myform">
	    	<md-input-container>
	    	<label for="name">Contact Name</label>
	    	<input type="text" md-maxlength="20" required="" md-no-asterisk  name="name" ng-model="vm.info.name" md-autofoucs>
	    	<div ng-messages="vm.myform.name.$error" role="alert">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
          </div>
	    </md-input-container>
	    <md-input-container>
	    	<label for="phone">Phone Number</label>
	    	<input type="text" name="phone" required md-no-asterisk ng-model="vm.info.phone">
	    	<div ng-messages="vm.myform.phone.$error">
           <div ng-message="required">This is required.</div>
           </div>
	    </md-input-container>
	    <md-input-container>
	    	<label for="email">Email</label>
	    	<input type="email" name="email" ng-model="vm.info.email">
	    	<div ng-messages="vm.myform.email.$error">
           <div ng-message="email">Email address is invalid.</div>
           </div>
	    </md-input-container>
	    <md-input-container>
	    <md-button ng-disabled="vm.myform.name.$invalid || vm.myform.phone.$invalid || vm.myform.email.$invalid" class="md-raised md-primary" ng-click="vm.saveit()">Save</md-button>
	    <md-button class="md-raised md-primary" ng-click="vm.clear(vm.info)" ng-disabled="vm.myform.name.$invalid || vm.myform.phone.$invalid">Cancel</md-button>
	     </md-input-container>

	</form>
	</div>

   </md-content>
</md-sidenav>

