<!DOCTYPE html>
<html ng-app="contact">
<head>
  <title>ContactApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body layout="row" ng-cloak  ng-controller="MainCtrl">

 <div ng-include="'templates/sidenav'" layout="vertical"></div>



<div layout="column" flex>
	<div ng-include="'templates/toolbar-header'"></div>

  <md-content flex id="content">
 <div ng-include="'templates/_all-contacts'"></div>

</md-content>

</div>

<%= yield %>

</body>
</html>
